<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EwEMSEPlugin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <EwEMSEPlugin.My.MySettings>
            <setting name="NModels2Run" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NYearsProject" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NTrials" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MassBalanceTol" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="CustomPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseEwEPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NMaxAttempts" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="NMaxTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="DisplayRelativeValues" serializeAs="String">
                <value>False</value>
            </setting>
        </EwEMSEPlugin.My.MySettings>
    </userSettings>
</configuration>
