<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EwEMultiSimPlugin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DFOPerturbFFPlugin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <EwEMultiSimPlugin.My.MySettings>
            <setting name="PathIn" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathOut" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReadAsMonth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitterPos" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CreateUniqueRunFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FFtypes" serializeAs="String">
                <value>0</value>
            </setting>
        </EwEMultiSimPlugin.My.MySettings>
        <DFOPerturbFFPlugin.My.MySettings>
            <setting name="PathIn" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathOut" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReadAsMonth" serializeAs="String">
                <value>True</value>
            </setting>
        </DFOPerturbFFPlugin.My.MySettings>
    </userSettings>
</configuration>
